<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../assets/chapterViewsStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Genki Chapter:<%=chapter%> Vocab
    </title>
</head>
<body>
    <form method="post">
        <input id="submitButton" class="Submit" type ="button" value="Submit Button">
        <input id="PageBack" type ="button" class="Pagebtn" value="Previous Page">
        <input id="Page" type ="button" class="Pagebtn" value="Next Page">
        <input id="None" class="A" type ="button" value="Show">
        <input id="Adj" class="b" type ="button" value="Show Adjectives">
        <input id="Verb" class="b" type ="button" value="Show Verbs">
        <input id="Particle" class="b" type ="button" value="Show Particles">
        <input id="Noun" class="b" type ="button" value="Show Nouns">

        <table name="Table" id ="Happy">
            <tr>
                <th>Kanji</th>
                <th>Hiragana</th>
                <th>English</th>
                <th>Part of Speech?</th>
            </tr>
        
                 <% words.forEach(function(item){%>
            <tr class="tr">
                <%if(item.Kanji){%>
                <td class='KanjiData'>
                    <%= item.Kanji%>
                </td>
                <%}%>
                <td>
                    <%= item.Hiragana%>
                </td>
                
                <td>
                    <%= item.English%>
                </td>
                <td>    
                    <select class="select">
                    <option value="None">PartOfSpeech?</option>
                    <option value="Verb">Verb</option>
                    <option value="Noun">Noun</option>
                    <option value="Adjective">Adjective</option>
                    <option value="Particle">Particle</option>
                    <input type="hidden" name="POS" value=<%=item.POS%> >
                    <input type="hidden" name="hasBeenChanged" value="False">
                    <input type="hidden" name="Id" value=  <%=item._id%>   >
                </select>
                </td>    
                  
            </tr>
         <% }); %>    
        </table>
    </form> 
    <script src="../../assets/ChapterViews.js"></script>
</body>
</html>