<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel='stylesheet' type="text/css" href='../../assets/StyleSheets/Results3Styles.css'>
</head>
<%- include ('partials/nav.ejs') %>

<body>
    <h3>You chose a lvl of<span>
        Genki Chapter:
        <%if(locals.Chapter) {%>
            <%=Chapter%>
        <%}%>and
        <%if(locals.NLVL) {%>
            NLVL:  <%=NLVL%>
        <%}%>
    </span></h3>
    <h1>Original</h1>
    <p title ="Tool TOp">
        <%=original%>
    </p>
    <h2>Vocab</h2>
    <div class="box" id='Vocab'>
        <%vocab.forEach(sentence=>{%>
            <%sentence.forEach(word=>{%>
                <div class=<%=word.POS%>>
                    <%=word.text%>
                </div>
          <%  })%>
        <%})%>

    </div>
    <h2>Grammar</h2>
    <p>
        <div class="box" id="Grammar">
            <% let counter =0%>
           <%grammar.forEach(sentence=>{%>
                <% sentence.forEach(word=>{%>
                    <%word.before.forEach(part=>{%>
                        <div class='before'><%=part.text%></div>
                        <% })%>
                        <div class="surface" name=<%=counter %>>
                            <%=word.surfaceForm%> 
                                <% if (word.description){ %>
                                    <span hidden> 
                                     <%= word.description%>
                                    </span>
                                 <%}%>    
                        </div>
                        <%word.conjugatedParts.forEach(part =>{ %>
                            <div  title="Conjugation tooltip"class=<%=part.status%>><%=part.text%></div>
                        <% })%>
                  

                <%})%>。
                
            <% })%>
        </div>      
    </p>


    <div id='info'>

    <h2>Info</h2>
        <ul id='infoUL'>
        </ul>
    </div>
    
    <button value="All"type="button">開く</button>
    <button value= Nouns type="button">Show Nouns</button>
    <button value = "Verbs" type="button">Show Verbs</button>
    <button value ="Na-Adjective"  type="button">Show Na-Adjective</button>
    <button value ="I-Adjective"  type="button">Show I-Adjective</button>
    <button value = "Particles" type="button">Show Particles</button>
<script src='../../assets/Scripts/Results3.js'></script>
</body>
</html>