<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel='stylesheet' type="text/css" href='../../assets/StyleSheets/Results3Styles.css'>
</head>
<%- include ('partials/nav.ejs') %>

<body>
    <h1>Original</h1>
    <h2>Grammar</h2>
    <p class="Grammar">
        <div id="box">
            <% let counter =0%>

            <%data.forEach(element=> { %> 
                <%element.before.forEach(part=>{%>
                    <div class='before'><%=part.text%></div>
                    <% })%>
                    <div class="tokens" name=<%=counter %>  id=<%=element.POS%>><%=element.surfaceForm%> 
                    </div>
                    <%element.conjugatedParts.forEach(part =>{ %>
                        <div class="conjugations"><%=part.text%></div>
                    <% })%>
              
           <% }) %>
        </div>      
    </p>
    <h2>Vocab</h2>
</body>
</html>