<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel='stylesheet' type="text/css" href='../../assets/StyleSheets/Results3Styles.css'>
</head>
<%- include ('partials/nav.ejs') %>

<body>
    <div id='container'>
        <div id='LeftSide'>
        <h3>You chose a lvl of<span>
            Genki Chapter:
            <%if(locals.Chapter) {%>
                <%=Chapter%>
            <%}%>and a JLPT of
            <%if(locals.NLVL) {%>
        
                N<%=NLVL%>
            <%}%>
        </span></h3>
        <h1>Original</h1>
        <p  id='Original' title ="Tool TOp">
            <%=original%>
        </p>
        <h2>Grammar</h2>
        <p>
            <div class="box" id="Grammar">
                <% let counter =1%>
               <%grammar.forEach(sentence=>{%>
                <% let totalGrammarKnown=0%>
                    <% sentence.forEach(word=>{%>
                        <% let totalSentenceGrammarKnown=0%>
                        <%word.before.forEach(part=>{%>
                            <div class="conjugations <%=part.status%>">
                                <%=part.text%>
                                <%if(part.description){ %>
                                    <div hidden class="description">
                                        <%=part.description%>
                                    </div> 
                                    <div hidden class='chapter'>
                                        <%=part.Chapter%>
                                    </div>
                                    <%}%>
                            </div>
                            <% })%>
                            <div class="surface <%=word.statusKnown%>" name=<%=counter %> data-given=<%=word.surfaceForm%>>
                                <%if(word.statusKnown){%>
                                   <% totalSentenceGrammarKnown++;%>
                                <%}%>
                                <%=word.surfaceForm%> 
                                <div hidden class='base'>
                                    <%=word.base%>
                                </div>
                                    <% if (word.description){ %>
                                        <span hidden class='description' > 
                                         <%= word.description%>
                                        </span>
                                        <% if(word.Chapter){ %>
                                            <div hidden class='chapter'><%=word.Chapter%></div>
                                        <%}%>
                                        <%if(word.JLPTLvl){%>
                                            <div hidden class='JlptLvl'><%=word.JLPTLvl%></div>
                                      <%}%>
    
                                     <%}%>   
                                   
                                     <div class='numberCounter'>
                                         <%=counter%>
                                     </div> 
                            </div>
                            <%word.conjugatedParts.forEach(part =>{ %>
                                <div  class="conjugations <%=part.status%>"><%=part.text%>
                                   <% if(part.status=='known'){%>
                                    <div hidden class='description'><%=part.description%></div>
                                    <div hidden class='chapter'> <%=part.Chapter%>  </div>
                                    <div class='Nlvl'><%=part.JLPTLvl%></div>
                                    <%}%>
                                </div>
                            <% })%>
                            <div hidden class='seperator'></div>
                        <%counter ++%>
                    <%})%><div>。</div>
                    
                <% })%>
            </div>      
        </p>
        <h2>Vocab</h2>
        
        <div class="box" id='Vocab'>
            <%vocab.forEach(sentence=>{%>
                <%sentence.forEach(word=>{%>
                    <div class=<%=word.POS%>>
                        <%=word.text%>
                    </div>
              <%  })%>
            <%})%>
    
        </div>
    </div>
        <div id='buttons'>
            <button value="All"type="button">開く</button>
            <button value= Nouns type="button">Show Nouns</button>
            <button value = "Verbs" type="button">Show Verbs</button>
            <button value ="Na-Adjective"  type="button">Show Na-Adjectives</button>
            <button value ="I-Adjective"  type="button">Show I-Adjectives</button>
            <button value = "Particles" type="button">Show Particles</button>
        </div>
        
    
        <div id='Line'></div>
       
          
        </div>
     
    </div>

    <div id='info'>
        <div>
            <h2>Grammar Info</h2>

        </div>
    <div>
        <ul id='infoUL'>
        </ul>
        <table id='wordTable'>
            <caption>Word Info</caption>
            <tr>
                <th id='numberColumn'>Word #</th>
                <th>Given Form</th>
                <th>Base Form</th>
                <th>English Meaning</th>
                <th>Chapter</th>
                <th>JLPT LVL</th>
            </tr>
        </table>
        <table id='conjugationsTable'>
            <caption>Conjugations Info</caption>
            <tr>
                <th>Word Acted On</th>
                <th>Conjugation Form</th>
                <th>Title</th>
                <th>Description</th>
                <th>Chapter</th>
                <th>JLPT LVL</th>
            </tr>
        </table>
        <p>Stats
            <p>
                <%let totalKnown=0;%>
                <%let totalSentences=0;%>
                <%for(let i=0;i<gramStats.length;i++){ %>
                <p>Sentence<%=i+1%>:
                    <br><%=gramStats[i].known%> / <%=gramStats[i].total%> words known</p>
                <%totalKnown+=gramStats[i].known%>
                <%totalSentences+=gramStats[i].total%>
                <% }%>
            </p>
            <p>Total Text:
                <p id='GrammarWordsStats'>
                    <%=totalKnown%>/<%=totalSentences%> total words or <%=+(totalKnown/totalSentences*100).toFixed(2)%>% of total words known
                </p>
                Total Conjugations Known:
                <p id='ConjugationStats'>
                </p>
            </p>
            
        </p>
    </div>
    
<script src='../../assets/Scripts/Results3.js'></script>
</body>
</html>